.container {
	&--no-margin {
		margin: 0 auto;
	}
}

.page-404 {
	text-align: center;
	p {
		margin: 8px 0;
	}
}

.post {
	&__byline {
		margin-bottom: 16px;
		&::before {
			content: url("../images/news.svg");
			display: inline-block;
			padding-right: 10px;
			transform: translateY(3px);
		}
	}
	&__content {
		.container {
			margin: 0;
		}
		&:first-child .post__card {
			padding-top: 0;
			margin-top: 0;
		}
	}
	&__list {
		h2 {
			line-height: 1;
		}
		@include tablet {
			padding-right: 20px;
		}
	}
	&__aside {
		padding-left: 20px;
		display: none;
		&__link {
			display: block;
			&::after {
				content: url("../images/right-arrow.svg");
				display: inline-block;
				padding-left: 10px;
			}
		}
		@include tablet {
			display: block;
		}
		&--mobile {
			display: block;
			max-width: calc(75% + 32px);
			padding: 16px;
			border: 1px solid $grey-main;
			margin-left: auto;
			margin-right: auto;
			.card__header {
				text-align: center;
			}
			.post__recent {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				.archive__item {
					flex-basis: 50%;
				}
			}
			.post__archive {
				justify-content: center;
			}
			.post__aside__link {
				text-align: center;
			}
			@include tablet {
				display: none;
			}
		}
	}
	&__list,
	&__aside {
		margin-top: 64px;
	}
	&__card {
		margin-top: 32px;
		padding: 16px;
		&__title {
			margin-top: 0;
		}
		&__byline {
			@extend .post__byline;
			margin-top: 8px;
		}
		@include tablet {
			padding: 32px;
		}
	}
	&__link {
		display: inline-block;
		width: auto;
		padding: 8px 40px;
	}
	&__recent {
		&__link {
			display: block;
			padding: 4px 0;
		}
	}
	&__archive {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		li {
			@extend .archive__item;
			a {
				@extend .archive__link;
				&::after {
					content: url("../images/archive.svg");
				}
			}
		}
	}
}
