.container {
	&--no-margin {
		margin: 0 auto;
	}
}

.post {
	&__byline {
		margin-bottom: 16px;
		&::before {
			content: url("../images/news.svg");
			display: inline-block;
			padding-right: 10px;
			transform: translateY(3px);
		}
	}
	&__content {
		.container {
			margin: 0;
		}
		&:first-child .post__card {
			padding-top: 0;
			margin-top: 0;
		}
		&:nth-child(2n) {
			background-color: $programs-primary-15;
		}
	}
	&__list {
		padding-right: 20px;
		h2 {
			line-height: 1;
		}
	}
	&__aside {
		padding-left: 20px;
		&__link {
			color: $programs-primary;
			display: block;
			&::after {
				content: url("../images/right-arrow.svg");
				display: inline-block;
				padding-left: 10px;
			}
		}
	}
	&__list,
	&__aside {
		margin-top: 64px;
	}
	&__card {
		padding: 32px;
		margin-top: 32px;
		&__title {
			margin-top: 0;
		}
		&__byline {
			@extend .post__byline;
			margin-top: 8px;
		}
	}
	&__link {
		display: inline-block;
		width: auto;
		padding: 8px 40px;
	}
	&__recent {
		&__link {
			color: $programs-primary;
			display: block;
			padding: 4px 0;
		}
	}
	&__archive {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		li {
			flex-basis: auto;
			display: inline-block;
			a {
				color: $programs-primary;
				padding: 5px 15px 10px 0;
				display: block;
				&::after {
					content: url("../images/archive.svg");
					display: inline-block;
					padding-left: 5px;
					transform: translateY(3px);
				}
			}
		}
	}
}
