.staff {
	&__photo {
		position: relative;
		display: inline-block;
		max-width: 300px;
		@include tablet {
			display: block;
		}
	}
	&__photo__container {
		display: none;
		text-align: center;
		&--mobile {
			display: block;
			text-align: center;
			margin-bottom: 32px;
			@include tablet {
				display: none;
			}
		}
		@include tablet {
			display: block;
		}
	}
	&__block {
		padding: 32px 0;
		margin: 64px 0;
		&:nth-child(2n) {
			padding: 64px 0;
		}
	}
	&__title,
	p {
		margin: 0;
	}
	.block-link {
		margin: 8px 0 16px;
	}
	&__photo--reverse {
		margin-left: auto;
		.staff__name {
			right: 0;
			left: auto;
		}
	}
	&__name {
		@extend .name-tag;
	}
}
