.staff {
	&__photo {
		position: relative;
	}
	&__block {
		padding: 32px 0;
		margin: 64px 0;
		&:nth-child(2n) {
			padding: 64px 0;
			background-color: $programs-primary-15;
		}
	}
	&__title,
	p {
		margin: 0;
	}
	.block-link {
		margin: 8px 0 16px;
	}
	&__photo--reverse {
		img {
			margin-left: auto;
		}
		.staff__name {
			right: 0;
			left: auto;
		}
	}
	&__name {
		position: absolute;
		bottom: 0;
		padding: 16px;
		z-index: 10;
		margin: 0;
		&::before {
			content: "";
			padding: 0 16px;
			display: block;
			top: 0;
			bottom: 0;
			left: -16px;
			width: 100%;
			background: $programs-primary;
			position: absolute;
			z-index: -1;
			transform: skew(20deg);
		}
	}
}
