.staff {
	&__photo {
		position: relative;
	}
	&__block {
		padding: 32px 0;
		margin: 64px 0;
		&:nth-child(2n) {
			padding: 64px 0;
			background-color: $programs-15;
		}
	}
	&__title,
	p {
		margin: 0;
	}
	.block-link {
		margin: 8px 0 16px;
	}
	&__photo--reverse {
		img {
			margin-left: auto;
		}
		.staff__name {
			right: 0;
			left: auto;
		}
	}
	&__name {
		@extend .name-tag;
	}
}
