blockquote {
	position: relative;
	margin-top: 32px;
	padding: 0 64px;
	&:before {
		content: "“";
		display: block;
		position: absolute;
		top: -15px;
		left: 32px;
		font-family: sans-serif;
		font-size: 6rem;
	}
	cite {
		display: block;
		margin-top: 16px;
		&::before {
			content: url("../images/quote.svg");
			display: inline-block;
			margin-right: 10px;
			transform: translateY(1px);
		}
	}
}
