.wp-block-button {
	&__link {
		border-radius: 0;
		border: 0;
	}
}

.btn {
	margin-top: 24px;
	padding: 16px;
	&--dark {
		border: 3px solid white;
		color: white;
	}
	&--light {
		display: inline-block;
		padding: 10px 32px;
		margin-top: 8px;
	}
	&--no-brdr {
		border: 0;
	}
	&--schedule {
		display: block;
		margin-top: 0;
		background-color: white;
		color: black;
		margin-right: 10px;
		padding: 10px 32px;
		cursor: pointer;
	}
}
