.wp-block-button {
	&__link {
		border-radius: 0;
		border: 0;
	}
}
.btn {
	margin-top: 24px;
	padding: 16px;
	&--dark {
		background-color: $programs-primary;
		border: 3px solid white;
		color: white;
	}
	&--no-brdr {
		border: 0;
	}
	&--schedule {
		display: block;
		margin-top: 0;
		background-color: white;
		border: 1px solid $festivals-primary;
		color: black;
		margin-right: 10px;
		padding: 10px 32px;
	}
}
