.default-block {
	p {
		padding: 8px 0;
	}
	ul,
	p {
		max-width: 1000px;
		margin: 0 auto;
	}
	li p {
		margin-top: 0;
		padding: 0;
	}
	h2 {
		margin: 64px 0 16px;
		display: inline-block;

		&::after {
			content: "";
			display: block;
			height: 8px;
			width: 100%;
			margin-top: 8px;
			background-color: $highlight-primary;
		}
	}
	h3 {
		margin-top: 32px;
	}
	.wp-block-image {
		margin: 32px 0;
		img {
			margin: 0 auto;
			display: block;
			max-width: 100%;
		}
		figcaption {
			text-align: center;
			margin-top: 8px;
		}
	}
}
