.container.default-block {
	ul {
		padding-left: 48px;
		li {
			margin: 8px 0;
			position: relative;
			&::before {
				content: "";
				height: 5px;
				width: 10px;
				display: block;
				position: absolute;
				left: -20px;
				top: 13px;
				transform: translateY(-50%);
			}
		}
	}
}
