.container.default-block {
	ul {
		padding-left: 32px;
		li {
			margin: 8px 0;
			position: relative;
			&::before {
				content: "";
				height: 5px;
				width: 10px;
				display: block;
				background-color: $programs-primary;
				position: absolute;
				left: -20px;
				top: 13px;
				transform: translateY(-50%) skew(-20deg);
			}
		}
	}
	&.page-festivals {
		ul li::before {
			background-color: $festivals-primary;
		}
	}
	&.page-press {
		ul li::before {
			background-color: $media-primary;
		}
	}
	&.page-support {
		ul li::before {
			background-color: $sponsors-primary;
		}
	}
}
