.footer {
	margin-top: 128px;
	&__land,
	&__contact {
		padding: 64px 0;
		&__title {
			display: flex;
			align-items: flex-end;
		}
	}
	&__land {
		background-color: $grey-10;
		&__copy {
			margin: 0;
		}
		&__title {
			margin: 0 0 16px;
			@include tablet {
				padding-right: 24px;
			}
		}
	}
	&__contact {
		&__form {
			padding-right: 24px;
		}
		&__title {
			text-align: left;
			span {
				display: block;
			}
		}
	}
	&__credits.col-6 {
		color: white;
		p {
			margin-top: 8px;
		}
		@include tablet {
			text-align: left;
		}
	}
	&__copyright {
		@include tablet {
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
		}
	}
	&__social-links {
		.flex {
			align-items: flex-end;
		}
		.menu {
			display: flex;
			justify-content: center;
		}
		.fab {
			color: white;
			transition: color 0.3s ease-in-out;
			padding: 10px;
			&:hover {
				color: black;
			}
		}
	}
	&__social,
	&__copy {
		padding: 16px 0;
		text-align: center;
		background-color: $grey-main;
		@include tablet {
			text-align: right;
		}
	}
	&__copy {
		padding-bottom: 32px;
		background: darken($grey-main, 10);
	}
	.flex,
	p {
		margin: 0;
	}
}
