.form {
	&__label {
		display: block;
		margin-bottom: 8px;
		&--dark {
			color: white;
		}
	}
	&__input {
		border: 1px solid black;
		padding: 8px 16px;
		&--dark {
			border: 1px solid white;
		}
		&.error__active {
			border: 2px solid red;
			& + .form__error {
				display: block;
			}
		}
	}
	&__field:nth-child(n + 2) {
		margin-top: 16px;
	}
	&__error {
		display: none;
		color: red;
		&--dark {
			color: white;
		}
	}
	& ~ .success-message,
	& ~ .error-message {
		display: none;
	}
	&__success,
	&__submission__error {
		display: none;
	}
	&__success + .success-message {
		display: block;
	}
	&__submission__error + .error-message {
		display: block;
	}
}

textarea {
	width: 100%;
	resize: none;
}
