.form {
	&__label {
		display: block;
		margin-bottom: 8px;
		&--dark {
			color: white;
		}
	}
	&__input {
		border: 1px solid black;
		padding: 8px 16px;
		&--dark {
			border: 1px solid white;
		}
	}
	&__field:nth-child(n + 2) {
		margin-top: 16px;
	}
}

textarea {
	width: 100%;
	resize: none;
}
