.header {
	font-family: "Roboto Slab", sans-serif;
	position: relative;
	overflow: hidden;
	padding-top: 32px;
	img {
		max-width: 100%;
	}
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__nav__logo {
		max-width: 150px;
		position: relative;
		a {
			position: relative;
			z-index: 10;
		}
	}
	&__hero {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__text {
		margin: 0;
		color: $programs_primary;
	}
	&__banner {
		width: 100%;
		display: flex;
		align-items: center;
		margin-top: 32px;
		&__bar {
			height: 10px;
			min-width: 20px;
			flex-grow: 1;
			background-color: $programs_primary;
			margin-right: 32px;
		}
	}
}

.home .header {
	background: $festival_primary;
	.container {
		min-height: 100vh;
	}
	&__hero {
		height: calc(100% - 128px);
		align-items: flex-end;
		justify-content: center;
		flex-direction: column;
	}
	.hero-text {
		padding: 49px 0 100px;
	}
	&__nav__logo {
		&::before {
			position: absolute;
			content: "";
			height: 100vw;
			width: 100vw;
			background-color: #fff;
			transform: rotate(-20.75deg);
			top: -83vw;
			left: -60vw;
		}
	}
}
