.header {
	font-family: "Roboto Slab", sans-serif;
	position: relative;
	overflow: hidden;
	img {
		max-width: 100%;
	}
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__container {
			background: white;
			padding-top: 32px;
			padding-bottom: 16px;
			@include tablet {
				background: none;
			}
		}
	}
	&__nav__logo {
		max-width: 150px;
		position: relative;
		a {
			position: relative;
			z-index: 10;
		}
		@include tablet {
			max-width: 200px;
		}
	}
	&__trigger {
		background: none;
		border: 0;
		padding: 10px;
		position: relative;
		z-index: 30;
		&__bar {
			width: 50px;
			height: 3px;
			margin-bottom: 10px;
			background-color: black;
			opacity: 1;
			z-index: -1;
			display: block;
			transition: all 0.3s ease-in-out;
		}
		&--active .header__trigger__bar {
			&:nth-child(1) {
				transform: translateY(calc(100% + 10px)) rotate(45deg);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(calc(-100% - 10px)) rotate(-45deg);
			}
		}
	}
	&__hero {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__text {
		margin: 0;
		text-align: right;
		letter-spacing: 1px;
		@include tablet {
			margin-left: 32px;
		}
	}
	&__banner {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		margin-top: 32px;
		@include tablet {
			flex-direction: row;
			align-items: flex-end;
		}
		&__bar {
			height: 20px;
			min-width: 20px;
			flex-grow: 1;
			box-shadow: $box-shadow;
			margin-bottom: 16px;
			display: none;
			@include tablet {
				margin-bottom: 45px;
			}
		}
	}
	&__subhero {
		text-align: right;
		@include tablet {
			padding-top: 8px;
		}
	}
	&__subheader {
		margin-top: 8px;
		margin-left: auto;
		text-align: right;
		@include tablet {
			max-width: 50%;
		}
		& + .header__subhero {
			display: none;
		}
	}
}

.home .header {
	color: white;
	& > .container {
		min-height: 100vh;
	}
	&__hero {
		height: calc(100% - 128px);
		align-items: flex-end;
		justify-content: flex-end;
		flex-direction: column;
		padding-bottom: 32px;
		@include mobile {
			padding-bottom: 64px;
		}
	}
	&__nav__logo {
		&::before {
			position: absolute;
			content: "";
			height: 120vw;
			width: 120vw;
			background-color: #fff;
			transform: rotate(-20.75deg);
			top: -103vw;
			left: -60vw;
			display: none;
			@include tablet {
				display: block;
			}
			@include desktop {
				height: 100vw;
				width: 100vw;
				top: -83vw;
			}
		}
	}
}
