.header {
	position: relative;
	overflow: hidden;
	img {
		max-width: 100%;
	}
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__nav__logo {
		max-width: 150px;
		position: relative;
		a {
			position: relative;
			z-index: 10;
		}
	}
	&__hero {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.hero-text {
		padding: 49px 0 100px;
	}
}

.home .header {
	background: $festival_primary;
	.container {
		min-height: 100vh;
	}
	&__hero {
		height: calc(100% - 128px);
		align-items: flex-end;
		justify-content: center;
		flex-direction: column;
	}
	&__nav__logo {
		&::before {
			position: absolute;
			content: "";
			height: 100vw;
			width: 100vw;
			background-color: #fff;
			transform: rotate(-20.75deg);
			top: -80vw;
			left: -60vw;
		}
	}
}
