.header-menu {
	position: fixed;
	background: white;
	width: 100%;
	min-height: 100vh;
	left: 0;
	z-index: 20;
	display: flex;
	top: -100%;
	transition: top 0.5s ease-in-out;
	align-items: flex-end;
	padding-bottom: 64px;
	.btn--dark {
		@extend .btn--dark;
		padding: 24px 80px;
	}
	li,
	a {
		line-height: 1;
	}
	li:hover > a,
	a:hover {
		color: black;
	}
	a {
		padding: 10px;
		display: inline-block;
		font-size: 9rem;
		line-height: 1;
		color: $grey-60;
	}
	.menu {
		position: relative;
	}
	.menu > .menu-item-has-children {
		& > a::after {
			margin-left: 5px;
			display: inline-block;
		}
		& > a {
			color: black;
		}
		.sub-menu {
			position: absolute;
			left: 100%;
			padding-left: 32px;
			top: 0;
			bottom: 0;
			right: 0;
			background: white;
			width: 100%;
			li,
			a {
				font-size: 6.4rem;
			}
		}
		&:hover {
			.sub-menu {
				display: block;
				z-index: 30;
			}
		}
	}
	.menu > .menu-item--active {
		.sub-menu {
			display: block;
		}
	}
	.menu-item {
		display: block;
		a {
			position: relative;
		}
		& > a::before {
			position: absolute;
			bottom: 3px;
			content: "";
			display: block;
			height: 5px;
			width: 0;
			background-color: black;
			transition: width 0.3s cubic-bezier(0, 0.51, 0.73, 0.7);
		}
		&--active > a::before,
		&:hover > a::before {
			width: 100%;
		}
	}

	.sub-menu {
		display: none;
	}
	&--active {
		top: 0;
	}
}
