.header-menu {
	position: fixed;
	background: white;
	width: 100%;
	min-height: 100vh;
	left: 0;
	z-index: 10;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	top: -100%;
	transition: top 0.5s ease-in-out;
	justify-content: flex-end;
	li,
	a {
		line-height: 1;
	}
	li:hover > a,
	a:hover {
		color: black;
	}
	a {
		padding: 10px;
		display: inline-block;
		font-size: 9rem;
		line-height: 1;
		color: $grey-50;
	}
	.menu {
		position: relative;
	}
	.menu > .menu-item-has-children {
		& > a::after {
			content: "+";
			margin-left: 5px;
			display: inline-block;
		}
		.sub-menu {
			position: absolute;
			left: 100%;
			padding-left: 32px;
			top: 0;
			bottom: 0;
			right: 0;
			background: white;
			width: 100%;
			li,
			a {
				font-size: 6.4rem;
			}
		}
		&:hover {
			.sub-menu {
				display: block;
				z-index: 30;
			}
		}
	}
	.menu > .menu-item--active {
		.sub-menu {
			display: block;
		}
		& > a {
			color: black;
			&::after {
				content: "-";
			}
		}
	}
	.sub-menu {
		display: none;
	}
	&--active {
		top: 0;
	}
}
