html {
	font-size: 62.5%;
}

.home .hero-text {
	font-size: 9rem;
	text-align: right;
	margin: 0;
}

.hero-text,
.header__title {
	font-size: 5rem;
}

h1 {
	text-align: center;
}

.subheader {
	font-weight: bold;
}

.subtitle {
	font-size: 4.8rem;
	line-height: 1.6;
}

.copy {
	font-size: 1.6rem;
	line-height: 1.6;
}
