$festivals-primary: #e6007a;
$festivals-15: rgba(230, 0, 122, 0.15);
$festivals-10: rgba(230, 0, 122, 0.1);
$festivals-95: rgba(230, 0, 122, 0.95);

$programs-primary: #a74482;
$programs-15: rgba(167, 68, 130, 0.15);
$programs-50: rgba(167, 68, 130, 0.5);

$support-primary: #177e72;
$support-15: rgba(23, 126, 114, 0.15);
$support-10: rgba(23, 126, 114, 0.1);

$press-primary: #0c628b;
$press-15: rgba(12, 98, 139, 0.15);
$press-10: rgba(12, 98, 139, 0.1);

$grey-main: #56494e;
$grey-10: rgba(86, 73, 78, 0.1);
$grey-50: rgba(86, 73, 78, 0.5);
$grey-60: rgba(86, 73, 78, 0.6);

$font-heading: "Roboto Slab", sans-serif;
$font-copy: "Roboto", sans-serif;

$box-shadow: 2px 2px 0 black;
$box-shadow-light: 3px 3px 0 $grey-50;

$link-transition: color 0.3s ease-in-out;

$columns: 12;

// Screen Sizes
$screen-mobile-min: 420px;
$screen-tablet-small-min: 600px;
$screen-tablet-min: 768px;
$screen-desktop-min: 1024px;

@mixin mobile {
	@media (min-width: #{$screen-mobile-min}) {
		@content;
	}
}

@mixin tablet-small {
	@media (min-width: #{$screen-tablet-small-min}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$screen-tablet-min}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$screen-desktop-min}) {
		@content;
	}
}
