$festival_primary: #ec407e;

$programs-primary: #a74482;
$programs-primary-15: rgba(167, 68, 130, 0.15);

$sponsors-primary: #177e72;
$sponsors-15: rgba(23, 126, 114, 0.15);

$grey-main: #56494e;
$grey-10: rgba(86, 73, 78, 0.1);
$grey-50: rgba(86, 73, 78, 0.5);

$font-heading: "Roboto Slab", sans-serif;
$font-copy: "Roboto", sans-serif;

$box-shadow: 3px 3px 0 black;
