a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
} 
.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  &.middle {
    align-items: center;
  }
  .offset {
    margin-left: 30px;
  }
  li {
    flex-grow: 0;
    flex-basis: 33.33%;
  }
  .col-8 {
    flex-basis: calc(66.66% - 10px);
    max-width: calc(66.66% - 10px);
    flex-grow: 0;
    flex-shrink: 1;
  }
  .col-4 {
    flex-basis: calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
    flex-grow: 0;
    flex-shrink: 1;
    &:first-child {
      margin-right: 20px;
    }
  }
  .col-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
}
.block {
  display: block;
}
.center {
  text-align: center;
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

input {
  width: 100%
}

.block-link {
  display: block;
  margin: 10px 0;
}

@import './typography';
@import './staff';
@import './nav';