@import "./fonts";
@import "./vars";
@import "./vendor/normalize";
@import "./grid";

* {
	box-sizing: border-box;
}

body.noscroll {
	overflow: hidden;
}

a {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

h2,
h3 {
	margin: 0;
}

.container {
	max-width: 1140px;
	width: 90%;
	margin: 0 auto;
	&--thin {
		max-width: 1000px;
		width: 85%;
	}
}

.title {
	font-weight: bold;
	font-size: 1.3rem;
}

.border {
	padding: 20px;
	border: 1px solid black;
}

.schedule {
	max-width: 70%;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	&--middle {
		align-items: center;
	}
	&--center {
		justify-content: center;
	}
	&--column {
		flex-direction: column;
	}
	&--right {
		justify-content: flex-end;
	}
	&.mason {
		li {
			flex-grow: 0;
			flex-basis: 42%;
			&:nth-child(2),
			&:nth-child(2n + 3) {
				flex-basis: 58%;
			}
		}
	}

	.grow {
		flex-grow: 1;
		margin-left: 20px;
	}
}
.block {
	display: block;
}

.center {
	text-align: center;
}

ul {
	padding: 0;
	li {
		list-style: none;
	}
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

p {
	margin: 0;
}

figure,
.wp-block-image {
	margin: 0;
}
.block-link {
	display: block;
	margin: 16px 0;
}

.no-margin {
	margin: 0;
}

.subtitle {
	margin-bottom: 0;
}

.name-tag {
	position: absolute;
	bottom: 0;
	padding: 16px;
	z-index: 10;
	margin: 0;
	&::before {
		content: "";
		padding: 0 16px;
		display: block;
		top: 0;
		bottom: 0;
		left: -16px;
		width: 100%;
		position: absolute;
		z-index: -1;
		transform: skew(20deg);
	}
}

@import "./typography";
@import "./animations/fade";

// Core Blocks
@import "./core-blocks/blockquote";
@import "./core-blocks/button";
@import "./core-blocks/default";
@import "./core-blocks/list";

// Custom Blocks
@import "./custom-blocks/alumni";
@import "./custom-blocks/artist";
@import "./custom-blocks/contact-form";
@import "./custom-blocks/cta";
@import "./custom-blocks/donor-blocks";
@import "./custom-blocks/homepage-cards";
@import "./custom-blocks/image-text";
@import "./custom-blocks/mason";
@import "./custom-blocks/media-quote";
@import "./custom-blocks/news";
@import "./custom-blocks/participants";
@import "./custom-blocks/schedule";
@import "./custom-blocks/show-block";
@import "./custom-blocks/two-columns";
@import "./custom-blocks/two-up-cards";

@import "./header";
@import "./footer";
@import "./forms";
@import "./archive";

@import "./nav";

// Pages

@import "./pages/homepage";
@import "./pages/page";
@import "./pages/staff";
@import "./pages/single-post";
@import "./pages/festivals";
