@import "./fonts";
@import "./vars";
@import "./vendor/normalize";
@import "./grid";

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

h2 {
	margin: 0;
}

.container {
	max-width: 1140px;
	width: 90%;
	margin: 0 auto;
}

.title {
	font-weight: bold;
	font-size: 1.3rem;
}

.border {
	padding: 20px;
	border: 1px solid black;
}

.schedule {
	max-width: 70%;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	&.middle {
		align-items: center;
	}
	.offset {
		margin-left: 30px;
	}
	&.mason {
		li {
			flex-grow: 0;
			flex-basis: 42%;
			&:nth-child(2),
			&:nth-child(2n + 3) {
				flex-basis: 58%;
			}
		}
	}
	li {
		flex-grow: 0;
		flex-basis: 33.33%;
	}

	.grow {
		flex-grow: 1;
		margin-left: 20px;
	}
}
.block {
	display: block;
}
.center {
	text-align: center;
}

ul {
	padding: 0;
	li {
		list-style: none;
	}
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

p {
	margin: 0;
}

figure,
.wp-block-image {
	margin: 0;
}

input {
	width: 100%;
}

.block-link {
	display: block;
	margin: 16px 0;
}

.no-margin {
	margin: 0;
}

.subtitle {
	margin-bottom: 0;
}

@import "./typography";

@import "./header";
@import "./footer";
@import "./forms";

@import "./nav";

// Pages

@import "./pages/homepage";
@import "./pages/page";
@import "./pages/staff";
@import "./pages/single-post";

// Core Blocks
@import "./core-blocks/blockquote";
@import "./core-blocks/button";
@import "./core-blocks/list";

// Custom Blocks
@import "./custom-blocks/alumni";
@import "./custom-blocks/contact-form";
@import "./custom-blocks/cta";
@import "./custom-blocks/donor-blocks";
@import "./custom-blocks/homepage-cards";
@import "./custom-blocks/mason";
@import "./custom-blocks/media-quote";
@import "./custom-blocks/news";
@import "./custom-blocks/two-columns";
@import "./custom-blocks/two-up-cards";
