.alumni {
	&__name,
	&__role {
		text-align: center;
	}
	&__name {
		margin: 16px 0 0;
	}
	&__role {
		margin: 8px 0 0;
	}
	&__single {
		margin-top: 32px;
		figcaption {
			display: none;
		}
		@include mobile {
			max-width: calc(50% - 10px);
			flex-basis: calc(50% - 10px);
		}
		@include tablet {
			max-width: calc(25% - 10px);
			flex-basis: calc(25% - 10px);
		}
		.wp-block-image {
			max-width: 300px;
			max-height: 300px;
			overflow: hidden;
			margin: 0 auto;
		}
	}
}
