.artist-block {
	margin-top: 64px;
	&__title,
	h3 {
		margin-bottom: 16px;
		margin-top: 0;
	}
	&__photo {
		position: relative;
	}
	&__name {
		@extend .name-tag;
		margin: 0;
	}
	&__copy {
		p {
			margin: 8px 0;
		}
	}
	&--reverse {
		padding: 64px 0;
		.artist-block__photo {
			display: flex;
			justify-content: flex-end;
		}
		.artist-block__name {
			right: 0;
		}
		& + .footer {
			margin-top: 0;
		}
	}
}
