.cta-block {
	text-align: center;
	padding: 128px 0;
	color: #fff;
	&__title {
		margin: 0;
	}
	.wp-block-button {
		&__link {
			border-radius: 0;
			background-color: #fff;
			color: $grey-main;
			font-weight: bold;
		}
	}
}
