.cta-block {
	text-align: center;
	padding: 128px 0;
	color: #fff;
	margin: 64px 0 0;
	&__title {
		margin: 0 auto;
		& + .wp-block-button {
			margin-top: 32px;
		}
		@include tablet {
			max-width: 50%;
		}
	}
	&__copy {
		margin: 16px 0;
	}
	.wp-block-button {
		&__link {
			border-radius: 0;
			background-color: #fff;
			color: $grey-main;
			font-weight: bold;
			&:focus,
			&:hover {
				background-color: black;
				color: white;
			}
		}
	}
}
