.donor-block {
	text-align: center;
	&--two-up {
		.donor-block__card:nth-child(2n) {
			@include tablet {
				background: none;
			}
		}
	}
	&__price {
		text-align: center;
		span {
			position: relative;
			&::before {
				content: "$";
				display: block;
				position: absolute;
				top: -10px;
				left: -25px;
				font-size: 4rem;
				color: $highlight-primary;
			}
		}
	}
	&__card {
		padding: 32px 32px 100px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		p {
			flex-grow: 0;
		}
	}
	&__title {
		margin-bottom: 32px;
	}
	&__fp {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: flex-end;
	}
	.cta-block {
		margin: 0;
	}
}
