.donor-block {
	text-align: center;
	&__price {
		text-align: center;
		span {
			position: relative;
			&::before {
				content: "$";
				display: block;
				position: absolute;
				top: -10px;
				left: -25px;
				font-size: 4rem;
			}
		}
	}
	&__card {
		padding: 32px 32px 100px;
		position: relative;
	}
	&__title {
		margin-bottom: 32px;
	}
	&__fp {
		position: absolute;
		bottom: 32px;
		left: 32px;
		right: 32px;
	}
	.cta-block {
		margin: 0;
	}
}
