.homepage-cards {
	margin-top: 64px;
	& + .homepage-cards {
		margin-top: 0;
		@include tablet {
			margin-top: 32px;
		}
	}
	a:hover,
	a:focus {
		.homepage-cards__card {
			transform: scale(1.02);
			box-shadow: $box-shadow-light;
		}
	}
	.flex {
		justify-content: space-between;
		.col-6 {
			max-width: 100%;
			flex-basis: 100%;
			margin: 16px 0;
			@include tablet {
				flex-basis: calc(50% - 20px);
				max-width: calc(50% - 20px);
			}
		}
	}
	&__card {
		position: relative;
		transition: all 0.3s;
	}
	&__title {
		@extend .name-tag;
		&:before {
			transform: skew(10deg);
			left: -8px;
			padding: 0 8px;
			@include mobile {
				padding: 0 16px;
				transform: skew(20deg);
				left: -16px;
			}
		}
	}
	figure {
		margin: 0;
		padding-top: 64.7%;
		position: relative;
		img {
			margin: auto;
			display: block;
			position: absolute;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			max-height: 100%;
		}
	}
}
