.mason-block {
	margin-top: 32px;
	@include tablet {
		margin-top: 64px;
	}
	&__title {
		display: block;
		margin: 32px 0 16px;
	}
	& + .mason-block {
		margin-top: 32px;
	}
	figure {
		transition: transform 0.3s ease-in-out;
	}
	a:hover,
	a:focus {
		border: 0;
		figure {
			transform: scale(1.1);
		}
	}
	.flex div:nth-child(2n) {
		margin-top: 32px;
		@include tablet {
			margin-top: 0;
		}
	}
	a:focus figure {
		border: 1px solid blue;
	}
}
