.mason-block {
	margin-top: 32px;
	@include tablet {
		margin-top: 64px;
	}
	&__title,
	figcaption {
		color: black;
	}
	figcaption {
		text-align: center;
	}
	&__title {
		display: block;
		margin: 0 0 16px;
	}
	& + .mason-block {
		margin-top: 32px;
	}
	div[class^="col-"] {
		display: flex;
		align-items: center;
		div {
			flex-grow: 1;
		}
	}
	.wp-block-image {
		padding: 16px;
		margin: 0 auto;
	}
	figure {
		transition: transform 0.3s ease-in-out;
	}
	a:hover,
	a:focus {
		border: 0;
		figure {
			transform: scale(1.02);
		}
	}
	.flex div:nth-child(2n) {
		margin-top: 32px;
		@include tablet {
			margin-top: 5px;
		}
	}
	a:focus figure {
		border: 1px solid blue;
	}
}
