.news-block {
	padding-top: 64px;
	&__subheader {
		.copy {
			position: relative;
			display: inline-block;
			padding: 0 5px 8px;
		}
		svg {
			transform: translateY(3px);
		}
		svg path {
			stroke: $highlight-primary;
		}
	}
	&__title {
		margin-top: 0;
	}
	&__copy {
		margin-top: 16px;
	}
	&__marker {
		position: absolute;
		left: -20px;
		bottom: -8px;
	}
	.btn {
		display: inline-block;
		padding: 10px 22px;
		margin-top: 24px;
	}
}
