.schedule {
	&__toggle {
		flex-basis: 100%;
		max-width: 100%;
		text-align: center;
		@include mobile {
			flex-basis: 50%;
			max-width: 50%;
		}
		@include tablet {
			flex-basis: auto;
			max-width: auto;
		}
	}
	position: relative;
	&__toggle__single {
		position: absolute;
		opacity: 0;
		&:checked + label {
			color: white;
		}
	}
	&__toggle__container {
		margin: 16px 15px 0;
		justify-content: center;
		@include tablet {
			justify-content: flex-start;
		}
	}
	&__list__item {
		margin: 5px 15px 16px;
		@include tablet-small {
			max-width: calc(50% - 30px);
			flex-basis: calc(50% - 30px);
		}
		@include tablet {
			max-width: calc(33.3% - 30px);
			flex-basis: calc(33.3% - 30px);
		}

		&--hidden {
			display: none;
		}
		&.schedule__active {
			display: block;
		}
		a:hover,
		a:focus {
			.schedule__card {
				.schedule__card__overlay {
					opacity: 1;
				}
				.schedule__time .schedule__active::before {
					background-color: black;
				}
			}
		}
	}
	&__card {
		position: relative;
		&__image {
			padding-top: 66.66%;
			position: relative;
			background-position: center;
			margin: 0 auto;
			position: relative;
			img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				height: auto;
				width: auto;
				max-height: 100%;
			}
		}
		&__overlay {
			padding: 16px;
			color: black;
			@include tablet {
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				color: white;
				transition: opacity 0.3s ease-in-out;
				&__title {
					position: absolute;
					top: 50%;
					left: 0;
					width: 100%;
					transform: translateY(-50%);
					text-align: center;
				}
			}
		}
	}
	&__time {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 10;
		color: white;
		padding: 16px 24px;
		span {
			display: none;
		}
		.schedule__active {
			display: block;
			&::before {
				content: "";
				width: 100%;
				position: absolute;
				transition: background-color 0.3s ease-in-out;
				display: block;
				top: 0;
				bottom: 0;
				left: 0;
				z-index: -1;
			}
		}
	}
}
