.two-up-cards {
	margin-top: 64px;
	& + .two-up-cards {
		margin-top: 32px;
	}
	&__card {
		box-shadow: 3px 3px 10px $grey-10;
		background: $programs-15;
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		max-width: calc(50% - 12px);
		&:nth-child(2n + 1) {
			margin-right: 12px;
			margin-left: 0;
		}
		&:nth-child(2n) {
			margin-left: 12px;
			margin-right: 0;
		}
	}
	&__copy {
		padding: 16px 24px;
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		position: relative;
	}
	p {
		margin: 0 0 16px;
	}
	&__title,
	p.two-up-cards__subtitle {
		margin: 0;
	}
	&__subtitle {
		padding-top: 8px;
		padding-bottom: 16px;
		color: $grey-main;
		&::before {
			content: url(../images/age.svg);
			padding-right: 3px;
			margin-right: 5px;
			display: inline-block;
			transform: translateY(3px);
		}
	}
	.wp-block-image {
		background-color: $grey-10;
		padding-top: 39%;
		position: relative;
		img {
			max-height: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
	.wp-block-button {
		min-height: 50px;
		&__link {
			position: absolute;
			bottom: 16px;
			border-radius: 0;
		}
	}
}
