.two-up-cards {
	margin-bottom: 32px;
	&__card {
		box-shadow: 3px 3px 10px $grey-10;
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		max-width: calc(50% - 12px);
		&:nth-child(2n + 1) {
			margin-right: 12px;
			margin-left: 0;
		}
		&:nth-child(2n) {
			margin-left: 12px;
			margin-right: 0;
		}
	}
	&__copy {
		background: $programs-15;
		padding: 16px 24px;
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		position: relative;
	}
	p {
		margin: 8px 0 16px;
	}
	&__title,
	p.two-up-cards__subtitle {
		margin: 0;
	}
	&__subtitle {
		padding-top: 8px;
		&::before {
			content: url(../images/age.svg);
			height: 24px;
			width: 24px;
			padding-right: 3px;
			display: inline-block;
			transform: translateY(3px);
		}
	}
	.wp-block-button {
		min-height: 50px;
		&__link {
			position: absolute;
			bottom: 16px;
			border-radius: 0;
			background: $programs-primary;
		}
	}
}
