.two-columns {
	h2 {
		margin: 0;
		display: inline-block;
		&::after {
			content: "";
			display: block;
			height: 8px;
			width: 100%;
			margin-top: 8px;
			background-color: $programs-50;
		}
	}
	.container {
		max-width: 850px;
	}
	.column {
		align-items: flex-start;
		margin-top: 64px;
		@include tablet {
			align-items: center;
		}
	}
	p,
	a {
		margin-top: 8px;
	}
}
